<%- include(`./partials/head.partials.ejs`)%>
<div class="wrapper">
    <%- include(`./partials/nav/sidebar.partials.ejs`)%>
    <div class="main-panel">
        <%- include(`./partials/nav/top.partials.ejs`, {title: `Book List`})%>
        <%- include(`./partials/book/list.partials.ejs`)%>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/custom/uploader.js"></script>
<%- include(`./partials/footer.partials.ejs`)%>