<%- include(`./partials/head.partials.ejs`)%>
<div class="wrapper">
    <%- include(`./partials/nav/sidebar.partials.ejs`)%>
    <div class="main-panel">
        <%- include(`./partials/nav/top.partials.ejs`, {title: `Book List`})%>
        <%- include(`./partials/book/list.partials.ejs`)%>
    </div>
</div>


<%- include(`./partials/footer.partials.ejs`)%>