<%- include(`./partials/head.partials.ejs`)%>
<div class="wrapper">
    <%- include(`./partials/nav/sidebar.partials.ejs`)%>
    <div class="main-panel">
        <%- include(`./partials/nav/top.partials.ejs`, {title: `Dashboard`})%>
        <%- include(`./partials/dashboard/info.partials.ejs`)%>
    </div>
</div>

<!-- dashboard info pane -->
<div class="container">
</div>

<%- include(`./partials/footer.partials.ejs`)%>