<div class="content">
    <div class="container-fluid">
      <!-- buttons -->
      <%if(message != null){%>
        <div class="alert alert-success text-center" role="alert">
            <%= message %>
        </div>
      <%}%>
      <%-include(`./../admin/menu.partials.ejs`)%>
    </div>
    
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Admin List</h4>
              <p class="card-category">List of currently registered admin accounts.</p>
            </div>
            <div class="card-body">
              <% if(adminDocs.length > 0){ %>
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>ID</th>
                      <th class="text-center">Name</th>
                      <th class="text-center">Access Level</th>
                      <th class="text-center">Contact</th>
                      <th class="text-center">Status</th>
                      <th class="">Action</th>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < adminDocs.length; i++){ %>
                        <tr>
                          <td class="text-center"><%=(i + 1)%></td>
                          <td class="text-center"><%=adminDocs[i].name%></td>
                          <td class="text-center"><%=adminDocs[i].accessLevel%></td>
                          <td class="text-center">
                            <ul class="list-unstyled">
                              <li><%=adminDocs[i].email%></li>
                              <li><%=adminDocs[i].phoneNumber%></li>
                            </ul>
                          </td>
                          <td class="text-center"></td>
                          <td class="text-primary">
                            <button type="button" class="btn btn-sm btn-primary btn-round" data-toggle="modal" data-target="#exampleModal">
                                <i class="material-icons">visibility</i> view
                            </button>
                            <button class="btn btn-sm btn-danger btn-round">
                              <i class="material-icons">delete</i> suspend
                          </button>
                          </td>
                        </tr>
                      <%}%>
                    </tbody>
                  </table>
                </div>
              <%}else{%>
                <%- include(`./../notifier/empty_notifier.partials.ejs`, {img: `img/illustrations/box.svg`}) %>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include(`./../modal/view_admin.partials.ejs`)%>