<div class="content">
  <div class="container-fluid">
     <!-- buttons -->
     <%-include(`./../book/menu.partials.ejs`)%>
  </div>
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
           <div class="card">
              <div class="card-header card-header-primary">
                 <h4 class="card-title "> Book List</h4>
                 <p class="card-category"> Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
               <% if(bookDocs.length > 0){ %>
                 <div class="table-responsive">
                    <table class="table">
                       <thead class=" text-primary">
                          <th>ID</th>
                          <th class="text-center">Book Info</th>
                          <th class="text-center">Author</th>
                          <th class="text-center">Category</th>
                          <th class="text-center">Edition</th>
                          <th>Action</th>
                       </thead>
                       <tbody>
                        <% for(let i = 0; i < bookDocs.length; i++){ %>
                          <tr>
                             <td><%=(i+1)%></td>
                             <td class="text-center">
                                <ul class="list-unstyled">
                                   <li><%=bookDocs[i].title%></li>
                                   <li><%=bookDocs[i].isbnNumber%></li>
                                   <li><%=bookDocs[i].format%></li>
                                </ul>
                             </td>
                             <td class="text-center"><%=bookDocs[i].author%></td>
                             <td class="text-center"><%=bookDocs[i].category%></td>
                             <td class="text-center"><%=bookDocs[i].edition%></td>
                             <td class="text-primary">
                                <button  type="button" class="btn btn-sm btn-primary btn-round" data-toggle="modal" data-target="#exampleModal">
                                <i class="material-icons">visibility</i> view
                                </button>
                                <button class="btn btn-sm btn-dark btn-round">
                                <i class="material-icons">highlight_off</i> hide
                                </button>
                             </td>
                          </tr>
                        <%}%>
                       </tbody>
                    </table>
                 </div>
               <%}else{%>
                  <%- include(`./../notifier/empty_notifier.partials.ejs`, {img: `/public/img/illustrations/bookshelves.svg`}) %>
                <%}%>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<%- include(`./../modal/view_book.partials.ejs`)%>